.topicPicker {
    &__topic {
        &__options {
            position: absolute;
            background: #e5e5e5;
            top: .6rem;
            padding: 0;
            z-index: 0;
            div {
                display: none;
                margin-right: 0;
                transition: all .3s ease-in-out;

                &:nth-child(1) {
                    display: inline;
                }
                
            }
            &.open { 
                z-index: 3;
                width: calc(100% - 1rem);
                div { 
                    display: inline;
                    opacity: .5;
                    transition: opacity .25s ease-in-out;
                    &:hover {
                        opacity: 1;
                        border-color: #fff;
                    }
                }
            }
            &.closed {
                width: auto;
                z-index: 0;
            }
        }
    }
}