.navbar {
    width: calc( 100% - 1rem );
    border-bottom: 1px solid #ffffff50;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;

    a {
        text-decoration: none;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 30px;
        height: 20px;
        margin-top: 1.9rem;

        div {
            background: white;
            width: 100%;
            height: 2px;
            transition: all .2s ease-in-out;

            &:nth-child(2) {
                width: 20px;
            }

            &:nth-child(3) {
                width: 10px;
            }    
        }

        &.open {
            div {
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    display: none;
                    width: 20px;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    width: 30px;
                    margin-bottom: 18px;
                }    
            }
        }
    }
}