
.day {
    background: inherit;
    width: 50%;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 3em;

    @media( max-width: 440px ) {
        margin-top: 0;
        border-width: 0;
        border-radius: 0;
        width: calc(100% - 2rem);
        padding: 2rem 1rem;
        background: transparent;
    }

    h1 {
        margin-left: 0;
        line-height: 2.5rem;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    ul.dayNav  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            a {
                font-family: var(--ff-heading);
                font-weight: 300;
                color: #adadad;
                text-transform: uppercase;
                font-size: 1rem;
                text-decoration: none;
            }
        }
    }

    input[type=submit] {
        display: none;
    }
}