.day {
    background: inherit;
    width: 50%;
    margin: 0 auto;
    background: #ffffff30;
    border-radius: 4px;
    padding: 2rem;
    margin-top: 3rem;
    border: 1px solid #ffffff30;

    h1 {
        margin-left: 1rem;
        line-height: 2.5rem;
        font-weight: 500;
        color: #fff;
    }
    
    ul {
        margin: 0;
        padding: 0;
        li {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            border: 1px solid #bbbbbb90;
            padding: 1rem 0 0 .5rem;
            background: #ededed95;
            border-radius: 2px;
            margin-bottom: 8px;
            .topic {
                margin: 0 1rem 1rem 0;
                padding-left: 0.5rem;
                padding-right: 1rem;
                border-right: 1px solid #ffffff60;;
            }
      
        }
    }
}