.journal {
    margin: 0;
    padding: 0;

    &__item {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .6rem;
        background: #ededed;
        border-radius: 2px;
        margin-bottom: 8px;

        &__topic {
            padding: 0;                
            svg {
                height: .9rem;
            }
        }

        &__entry {
            width: 100%;
            margin-left: 2.5rem;
            border-left: 1px solid #ccc;
            padding-left: 1rem;
            z-index: 2;

            input {
                width: 100%;
                border: 0;
                outline: 0;
                background: transparent;
            }
        }

        &__remove {
            visibility: hidden;
            &:before {
                display: block;
                color: #a8abb9;
                content: '\00D7';
                visibility: visible;
                height: 20px;
                width: 14px;
                margin-top: -6px;
                text-align: center;
                border-radius: 2px;
                font-size: 20px;
            }    
        }
    }
}
